#canvas {
    font-size: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    border:2px;
    z-index: 2;
    pointer-events: none;
}

.entry.A :not(#canvas) {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
